<header><!-- header -->
	<h1><a href="/">Vanessa's Voice</a></h1>
	<h2>A voice for the innocent.</h2>
	<%=image_tag "headerimg.png", width: 940, height:200, alt:""%><!-- header image -->
</header><!-- end of header -->