<nav><!-- top nav -->
	<div class="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/pages/about">About</a></li>
			<li><a href="/pages/events">Events</a></li>
			<li><a href="/pages/news">News</a></li>
			<li><a href="/pages/contact">Contact Us</a></li>
		</ul>
	</div>
</nav><!-- end of top nav -->